.modalOverlay {
  position: fixed;
  background-color: rgba(242, 243, 245, .8);

  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContainer {
  position: relative;

  background-color: var(--white);
  
  width: 100%;
  max-width: 400px;
  
  padding: 2rem 3rem;
  border-radius: 5px;

  box-shadow: 0 0 60px rgba(0, 0, 0, .05);

  text-align: center;
}

.modalContainer header {
  font-size: 8.75rem;
  font-weight: 600;
  color: var(--blue);

  background: url('/icons/levelup.svg') no-repeat center;
  background-size: contain;
}

.modalContainer strong {
  font-size: 2.25rem;
  color: var(--title);
}

.modalContainer p {
  font-size: 1.25rem;
  color: var(--text);

  margin-top: 0.25rem;
}

.modalContainer button {
  position: absolute;
  right: 0.25rem;
  top: 0.25rem;

  background-color: transparent;
  border: none;

  font-size: 0px;
}
